
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: black;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 340px;
        position: relative;
        background: #BE1E2D;
}

/* shapes */
#circle {
        width: 100px;
        height: 100px;
        background: #ffffff;
        border-radius: 75px;

        /* position the circle in the center of the flag */
        position: absolute;
        top: 170px;
        left: 320px;
}

#circle2 {
  width: 80px;
  height: 80px;
  border: solid;
  border-radius: 75px;
  color: white;

  /* position the circle in the center of the flag */
  position: absolute;
  top: 30px;
  left: 80px;
}


#bluesquare{
  width: 250px;
  height: 150px;
  background: #6DFFE7;
}

img {
  width:50px;
}

hr {
  transform: rotate(30deg);
  width: 500px;
  color: white;
  position: absolute;
}


img{
  width: 50px;

}
