
.topnav {
  overflow: hidden;
  background-color: #000000;
  z-index: 1000;

  font-family: bodoni-urw, serif;
  font-weight: 500;
  font-style: normal;
  position: fixed;
  width: 100%;

}

.topnav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: #000000;
}

.topnav .icon {
  display: none;
}
