/* CSS files add styling rules to your content */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  line-height: 1.6;
}

p {
  font-family: ff-meta-correspondence-web-p, sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* HomePage */
.HomePage {
  height: 110vh;
  background-image: url(Wave1-01.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-width: 100%;
  position: relative;
}

.HomePage h1 {
  font-family: bodoni-urw, serif;
  font-weight: 500;
  font-style: normal;

  margin-left: 48%;
  margin-right: 52%;
  margin-top: 10%;
  position: absolute;
}

.HomePage h2 {
  margin-left: 45%;
  margin-right: 55%;
  margin-top: 10%;
  position: absolute;
}

#HomeImage img {
  max-width: 50%;
  margin-left: -15%;
  margin-top: 10%;
  position: absolute;
}

.HomePage a {
  display: block;
  color: black;
  text-align: left;
  padding: 12% 5%;
  text-decoration: none;

  font-family: bodoni-urw, serif;
  font-weight: 500;
  font-style: normal;
}

#nav ul {
  float: left;
  width: 20%;
  padding-left: 30px;

  padding-top: 10%;
  padding-left: 5%;
}

#nav1 {
  padding-left: 27%;
}

#nav2 {
  padding-left: 11%;
}

#nav3 {
  padding-left: 21%;
}

#nav4 {
  padding-left: 27%;
}

#nav5 {
  padding-left: 42%;
}

#nav6 {
  padding-left: 62%;
}


/* AboutMyAnime */
.AboutMyAnime {
  height: 110vh;
  background-image: url(Wave2-02.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-width: 100%;
  position: relative;
}

#AboutMyAnimeText{
  float: left;
  width: 20%;
  padding-left: 30px;
}


/* RentalBookstore */
.RentalBookstore {
  height: 110vh;
  background-image: url(Wave3-03.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-width: 100%;
    position: relative;
}

#CommicBook img {
  transition: transform .2s;
  max-width: 30%;
  padding-left: -10%;
}

#CommicBook img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);

}

#OldBookstoreInterior img {
  transition: transform .2s;
  max-width: 30%;
  margin-left: 70%;
}

#OldBookstoreInterior img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);
}


/* PhotoBook */
.PhotoBook {
  height: 110vh;
  background-image: url(Wave4-04.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-width: 100%;
  position: relative;
}

/* DigitalBook */
.DigitalBook {
  height: 110vh;
  background-image: url(Wave3-03.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-width: 100%;
  position: relative;
}


/* 2Danimation */
.animation2D {
  height: 110vh;
  background-image: url(Wave4-04.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-width: 100%;
  position: relative;
}

/* 3Danimation */

 .animation3D {
  height: 110vh;
  background-image: url(Wave3-03.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-width: 100%;
  position: relative;
}
