/* CSS files add styling rules to your content */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  line-height: 1.6;
}

p {
  font-family: ff-meta-correspondence-web-p, sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* HomePage */
.HomePage {
  height: 100vh;
  background-image: url(Wave1-01.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.HomePage h1 {
  font-family: bodoni-urw, serif;
  font-weight: 500;
  font-style: normal;

  margin-left: 55%;
  margin-top: 7%;
  position: absolute;
}

.HomePage h2 {
  margin-left: 53%;
  margin-top: 10%;
  position: absolute;
}

#HomeImage img {
  max-width: 50%;
  margin-left: -15%;
  margin-top: 5%;
  position: absolute;
}

/* navgation */
.HomePage a {
  display: block;
  color: black;
  text-align: left;
  padding: 9% 5%;
  text-decoration: none;

  font-family: bodoni-urw, serif;
  font-weight: 500;
  font-style: normal;
}

.HomePage a:hover {
  color: #808080;
}

#nav ul {
  float: left;
  width: 20%;

  padding-top: 10%;
  padding-left: 10%;
}



/* AboutMyAnime */
.AboutMyAnime {
  height: 100vh;
  background-image: url(Wave2-02.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.description{
  float: left;
  width: 20%;
  padding-left: 8%;
}


/* RentalBookstore */
.RentalBookstore {
  height: 100vh;
  background-image: url(Wave3-03.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}


#CommicBook img {
  transition: transform .2s;
  max-width: 30%;
  padding-left: -10%;
}

#CommicBook img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);

}

#OldBookstoreInterior img {
  transition: transform .2s;
  max-width: 30%;
  margin-left: 70%;
    position: absolute;
}

#OldBookstoreInterior img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);
}


/* PhotoBook */
.PhotoBook {
  height: 100vh;
  background-image: url(Wave4-04.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

/* DigitalBook */
.DigitalBook {
  height: 100vh;
  background-image: url(Wave3-03.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}


/* 2Danimation */
.animation2D {
  height: 100vh;
  background-image: url(Wave4-04.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

/* 3Danimation */

 .animation3D {
  height: 100vh;
  background-image: url(Wave3-03.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
