/* CSS files add styling rules to your content */

p {
  font-family: ff-meta-correspondence-web-p, sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* HomePage */
.HomePage{
  height: 150vh;
  position: relative;

  background-image: url(wave.svg);
  background-repeat: no-repeat;
  background-size: 105%;

  margin-top: -5%;
}

.HomePage h1 {
  font-family: bodoni-urw, serif;
  font-weight: 500;
  font-style: normal;

  margin-left: 60%;
  margin-right: 40%;
  margin-top: 18%;
  position: absolute;
}

.HomePage h2 {
  margin-left: 57%;
  margin-right: 48%;
  margin-top: 18%;
  position: absolute;
}

#HomeImage img {
  max-width: 70%;
  margin-left: 10%;
  margin-top: 17%;
  position: absolute;
}


/* AboutMyAnime */
.AboutMyAnime {
  height: 150vh;
  position: relative;

  background-image: url(Wave2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#AboutMyAnimeText{
  float: left;
  width: 20%;
  padding-left: 30px;
  position: absolute;
}
