


/* HomePage */
.HomePage {
  height: 100vh;
  position: relative;
}
#bgimage1 {
  background-image: url(Wave1-01.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#HomeImage img {
  max-width: 60%;
  margin-top: 5%;
  opacity: 1.0;
}


/* AboutMyAnime */
.AboutMyAnime {
  height: 100vh;
  position: relative;
}

#bgimage2 {
  background-image: url(Wave2-02.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}


/* RentalBookstore */
.RentalBookstore {
  height: 100vh;
	position: relative;
}
#bgimage3 {
  background-image: url(Wave3-03.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}


#CommicBook img {
  transition: transform .2s;
  max-width: 30%;
  padding-left: -10%;
}

#CommicBook img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);
	-webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
	 filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

#OldBookstoreInterior img {
  transition: transform .2s;
  max-width: 30%;
  margin-left: 70%;
  margin-top: -15%;
  position: absolute;
}

#OldBookstoreInterior img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);
	-webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
	filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

#starsanime img {
  transition: transform .2s;
  max-width: 20%;
  margin-left: 70%;
  margin-top: 11%;
  position: absolute;
}

#starsanime img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);
	-webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
	 filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}


/* PhotoBook */
.PhotoBook {
  height: 100vh;
	position: relative;
}

#bgimage4 {
  background-image: url(Wave4-04.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

#OldComputer img {
  transition: transform .2s;
  max-width: 30%;
  padding-left: -10%;
	padding-top: 20%;
	position: absolute;
}

#OldComputer img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);
	-webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
	filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

/* DigitalBook */
.DigitalBook {
  height: 100vh;
	position: relative;
}

#bgimage5 {
  background-image: url(Wave3-03.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}


/* 2Danimation */
.animation2D {
  height: 100vh;
	position: relative;
}
#bgimage6 {
  background-image: url(Wave4-04.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
#buster img {
  transition: transform .2s;
  max-width: 30%;
  padding-left: -10%;
}

#buster img:hover {
  -ms-transform: scale(2.5); /* IE 9 */
  -webkit-transform: scale(2.5); /* Safari 3-8 */
  transform: scale(2.5);
	-webkit-filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
	filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.9));
}

/* 3Danimation */

 .animation3D {
  height: 100vh;
	position: relative;
}
#bgimage7 {
  background-image: url(Wave3-03.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
