body  {
  margin-left: 200px;
  margin-right: 200px;
  font-family: forma-djr-text, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}



  header{
  boarder: solid;
  position: fixed;
  height: 100px;
  left: 200px;
  right: 200px;
  z-index: 10000;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shdow: 0 0 10px rgba(0, 225, 0, .5);

}




h1    {
  font-family: eskapade-fraktur, serif;
  font-weight: 400;
  font-style: normal;
}


h2    {
  font-family: eskapade-fraktur, serif;
  font-weight: 400;
  font-style: normal;
}


p     {
  margin-right: 400px;
  font-size: 12pt;
  line-height: 1.7;
  margin-right: 200px;
}

img   {
  padding-bottom: 40px;
}



/* link */
a:link, a:visited {
  color: #ffffff;
  padding: 6px 22px 6px 0px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  text-decoration: none;
  color: #75706A;

}

footer {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 8pt;
  font-style: normal;
}
