



#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: solid;
}
#nav li {
  float: right;
}

#nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#nav li a:hover {
  background-color: black;
  color: #00FFFF;
}



body  {
  margin-left: 200px;
  margin-right: 200px;
  font-family: freight-neo-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}


h2    {
  font-family: mencken-std, sans-serif;
  font-weight: 500;
  font-style: italic;
  padding: 40px 40px;
  border: solid;
}


p {
  font-family: mencken-std, sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

#exercises, #weekly-exercises, #projects {
  border: solid;
}


#exercises
  a:link, a:visited {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
#exercises a:Hover {
  color: #FF00FF;
}


#weekly-exercises
  a:link, a:visited {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
#weekly-exercises a:Hover {
  color: #FF00FF;
}


#projects
  a:link, a:visited {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}
#projects a:Hover {
  color: #FF00FF;
}


.column{
  float: left;
  width: 33%;
  column-gap: 40px;
}





footer {
  color: #000000;
  text-align: center;
  padding: 20px;
  font-size: 8pt;
  font-style: normal;

}
