
 @keyframes spin {
   0% {
    /*transform: scale(1);*/
    transform-origin: center center;
    transform: rotate(-360deg) scale(0.8);
  }
  50% {
    /*transform: scale(1.1);*/
    transform-origin: right left;
    transform: rotate(-180deg) scale(3.5);
  }
  100% {
    /*transform: scale(1);*/
    transform-origin: center center;
    transform: rotate(0) scale(0.8);
  }
}

#title {
  font-family: 'PT Serif', serif;
  font-size: 40px;
  position: absolute;
}

.section {
  margin: 10%;
  height: 100vh;
  position: relative;
  float: vertical;
}

.letterbox{
  float: left;
  position: relative;
  width: 15%;
  height: 15%;
}




/* home CUBE------------------------------------------------------ */


  #box {
        position:absolute;
        margin-left: 40%;
        margin-top: 20%;
      }




      #A1 {
         height: 7;
         width: 100px;
         position: relative;
         background-color: 	#00FFFF;
         border-radius: 40%;
         transform: rotate(135deg);

         position: absolute;
         margin-left: 5%;
         animation: spin 3s linear infinite;
        }

      #A3 {
           height: 7px;
           width: 100px;
           background-color: #000000;
           border-radius: 40%;
           transform: rotate(135deg);

           position: absolute;
           margin-left: 5%;
           margin-top: -11%;
           animation: spin 5s linear infinite;
          }

      #A9 {
            height: 7px;
            width: 100px;
            background-color:	#000000;
            border-radius: 40%;
            transform: rotate(45deg);

            position: absolute;
            margin-left:5%;
            margin-top: 1%;
            animation: spin 2s linear infinite;
          }

      #A1-1 {
            height: 7px;
            width: 130px;
            background-color: #000000;
            border-radius: 40%;
            transform: rotate(135deg);

            position: absolute;
            margin-top: -10%;
            margin-left: 12%;
            animation: spin 3s linear infinite;
          }

      #A1-3 {
            height: 7px;
            width: 130px;
            background-color: #000000;
            border-radius: 40%;
            transform: rotate(135deg);

            position: absolute;
            margin-top: 1%;
            margin-left: 13%;
            animation: spin 4s linear infinite;
          }

      #A2 {
        height: 7px;
        width: 100px;
        background-color: #000000;
        border-radius: 40%;
        transform: rotate(90deg);

        position: absolute;
        margin-left: 10%;
        animation: spin 2s linear infinite;
      }

      #A4 {
        height: 7px;
        width: 100px;
        background-color: #000000;
        border-radius: 40%;
        transform: rotate(90deg);

        position: absolute;
        margin-left: 20%;
        margin-top: -10%;
        animation: spin 4s linear infinite;
      }

      #A5 {
        height: 7px;
        width: 100px;
        background-color: #000000;
        border-radius: 40%;

        position: absolute;
        margin-left: 5%;
        margin-top: 5%;
        animation: spin 4s linear infinite;
      }

      #A6 {
        height: 7px;
        width: 100px;
        background-color: #000000;
        border-radius: 40%;

        position: absolute;
        margin-left:5%;
        margin-top: -5%;
        animation: spin 5s linear infinite;
      }

      #A7 {
        height: 7px;
        width: 100px;
        background-color: #000000;
        border-radius: 40%;

        position: absolute;
        margin-left: 15%;
        margin-top: -15%;
        animation: spin 4s linear infinite;
      }

      #A8 {
        height: 7px;
        width: 100px;
        background-color: #FFFF00;
        border-radius: 40%;
        transform: rotate(90deg);

        position: absolute;
        margin-left: 0%;
        margin-top: ;
        animation: spin 3s linear infinite;
      }

      #A1-2 {
        height: 7px;
        width: 170px;
        background-color: #FF00FF;
        border-radius: 40%;
        transform: rotate(157.5deg);

        position: absolute;
        margin-top: -10%;
        margin-left: 5%;
        animation: spin 4s linear infinite;
      }

      #A1-4 {
        height: 7px;
        width: 73px;
        background-color: #000000;
        border-radius: 40%;
        transform: rotate(67deg);

        position: absolute;
        margin-top: -10%;
        margin-left: 10%;
        animation: spin 3s linear infinite;
      }

      #A1-5 {
        height: 7px;
        width: 72px;
        background-color: #000000;
        border-radius: 40%;
        transform: rotate(23deg);

        position: absolute;
        margin-top: -5%;
        margin-left: 17%;
        animation: spin 6s linear infinite;
      }

      #A1-6 {
        height: 7px;
        width: 170px;
        background-color: #00FFFF;
        border-radius: 40%;
        transform: rotate(112.5deg);

        position: absolute;
        margin-top: -5%;
        margin-left: 11%;
        animation: spin 6s linear infinite;
      }


/* A */
              #a1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;
              }
              #a2 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 41%;
                margin-top: -45%;
              }
              #a3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: -28%;
                margin-top: 30%;
              }
              #a4 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 28%;
                margin-top: 30%;
              }
              #a5 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: -8%;
                margin-top: -23%;
              }
              #a6 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 48%;
                margin-top: -23%;
              }
/* B */
              #b1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;
              }
              #b2 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 41%;
                margin-top: -45%;
              }
              #b3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 10%%;
                margin-top: 60%;
              }
              #b4 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: -28%;
                margin-top: 30%;
              }
              #b5 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 28%;
                margin-top: 30%;
              }
              #b6 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: -8%;
                margin-top: -23%;
              }
              #b7 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 48%;
                margin-top: -23%;
              }
/* C */
              #c1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 10%%;
                margin-top: 60%;
              }
              #c2 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 41%;
                margin-top: -45%;
              }
              #c3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: -28%;
                margin-top: 30%;
              }
              #c4 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: -8%;
                margin-top: -23%;
              }
/* D */
              #d1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
              }

              #d2 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
              }
/* E */
              #e1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
              }

              #e2 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
              }
