
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;

  font-family: 'PT Serif', serif;
}

/* ------------------------------------------------------------------------ */
/* animation */
                 @keyframes spin {
                   0% {
                    /*transform: scale(1);*/
                    transform-origin: center center;
                    transform: rotate(-360deg) scale(0.8);
                  }
                  50% {
                    /*transform: scale(1.1);*/
                    transform-origin: right left;
                    transform: rotate(-180deg) scale(2);
                  }
                  100% {
                    /*transform: scale(1);*/
                    transform-origin: center center;
                    transform: rotate(0) scale(0.8);
                  }
                }

                @keyframes pulse {
                0% {
                  background-color: #EE82EE;
                }
                50% {
                  background-color: #00FFFF;
                }
                100% {
                  background-color: #EE82EE;
                }
              }

                @keyframes pulsebg {
                0% {
                  background-color: #00FFFF;
                }
                50% {
                  background-color: #EE82EE;
                }
                100% {
                  background-color: #00FFFF;
                }
              }

              @keyframes bounce {
                 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
                 40% {transform: translateY(-15px);}
                 60% {transform: translateY(-80px);}
              }



/* Title Page */
            .section {
              margin: 10%;
              height: 60vh;
              position: relative;
            }

            #title {
              font-size: xxx-large;
              position: absolute;
              margin-left: 6.6%;
              margin-top: -5%;
            }

            img {
              width: 5%;
              position: absolute;
              margin-left: 100%;
              margin-top: -26%;
              opacity: 50%;
            }
/* A TYPEFACE DESIGN FROM TOOTHPICK & CUBE */
            h1 {
              Position: absolute;
              letter-spacing: 4px;
              font-size: x-large;
              margin-left: 22%;
              margin-top: -20%;
            }
/* CHIAO CIAO TYPE */
            h3 {
              Position: absolute;
              margin-left: 96.5%;
              margin-top: -25%;
              font-size: small;
              width: 5%;
              opacity: 50%;
            }
/* Chiao Huang */
            h4 {
              Position: absolute;
              letter-spacing: 5px;
              font-size: small;
              margin-left: 65%;
              margin-top: -10%;
            }
/* Type Design By */
            h5 {
              Position: absolute;
              letter-spacing: 5px;
              font-size: small;
              margin-left: 2%;
            }
/*  */
            h6 {
              Position: absolute;
              letter-spacing: 5px;
              font-size: x-large;
              color: #FFFFFF;
              margin-left: 22%;
              margin-top: -10%;
            }
/*  */

            #loosebox1 {
              height: 1%;
              width: 10%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(99deg);
              position: absolute;
              margin-left: 55%;
              margin-top: 17%;
            }

            #loosebox2 {
              height: .5%;
              width: 6%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(36deg);
              position: absolute;
              margin-left: 40%;
              margin-top: 15%;
            }

            #loosebox3 {
              height: .5%;
              width: 6%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(129deg);
              position: absolute;
              margin-left: 80%;
              margin-top: 5%;
            }

            #loosebox4 {
              height: .5%;
              width: 6%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(47deg);
              position: absolute;
              margin-left: 90%;
              margin-top: -2%;
            }

            #loosebox5 {
              height: 1%;
              width: 10%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(66deg);
              position: absolute;
              margin-left: 18%;
              margin-top: 12%;
            }

            #loosebox6 {
              height: .5%;
              width: 6%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(135deg);
              position: absolute;
              margin-left: 8%;
              margin-top: -30%;
            }

            #loosebox7 {
              height: 1%;
              width: 10%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;
              margin-left: -2%;
              margin-top: -20%;
            }

/* big title */
            .bigtitle {
                width: 100%;
                height: 110vh;
                position: relative;
                background-color: #000000;
              }


/* pinky pointy blinky */
            .animation {
              margin: 10% 0 0 12%;
              height: 90vh;
              position: relative;
            }

            .animation .letterbox {
              width: 15%;
            }
            .letterbox{
              float: left;
              position: relative;
              width: 10%;
              height: 10%;
              margin: 0% 0% 10% 5%;
            }

            .letterboxtype {
              float: left;
              position: relative;
              width: 6%;
              height: 10%;
              margin: 0% 0% 1% -1%;
            }

/* letterspace */
            .letterspace2 {
              float: left;
              position: relative;
              width: 1%;
              height: 10%;
            }

            .letterspace5 {
              float: left;
              position: relative;
              width: 2%;
              height: 10%;
            }

            .letterspace6 {
              float: left;
              position: relative;
              width: 25%;
              height: 10%;
            }

            .letterspace10 {
              float: left;
              position: relative;
              width: 100%;
              height: 10%;
            }

/* color animation */
            .color {
              width: 100%;
              height: 80%;
              padding-top: 10%;
            }

            .color .letterboxtype {
              animation: pulsebg 2s ease infinite;
            }

            .letterboxWhite0 {
              position: relative;
              width: 8%;
              height: 8%;
              margin: -5% -4% 0 4.5%;
            }

            .letterboxWhite {
              position: relative;
              width: 8%;
              height: 8%;
              margin: -5% -4% 0 4.5%;
            }

          /* PICKY */
            .letterboxWhite0:hover .yeshover {
            visibility: hidden;
          }

            .letterboxWhite:hover .yeshover {
              visibility: hidden;
            }

/* FullEdgeSection */
            .fullEdgeSection {
              margin: 0;
              width: 100%;
              height: 100vh;
              position: relative;
              background-color: #000000;
              overflow: hidden;
            }

            .letterboxWhiteFull {
              position: relative;
              width: 10%;
              height: 8%;
              margin: 0 -4% 0 0;
            }

            .letterboxWhiteFull:hover .yeshover {
              visibility: hidden;
            }

            .bone {
              width:100%;
              height: 51.5vw;
              position: relative;
              display: flex;
              overflow: hidden;
            }

            .bone2 {
              width:100%;
              height: 51.5vw;
              position: relative;
              display: flex;
              margin-top: -43.5%;
            }
/* Specimen */
            .specimensection {
              margin: 20% 10% 10% 10%;
              width: 80%;
              height: 100vh;
              position: relative;
              }

              #endsection {
                padding-top: 50%;
                margin-left: 6%;
                font-size: x-large;
                letter-spacing: 2px;
              }

/* animation box line */


/* box */
            .box1 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;
            }
            .box2 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              margin-left: 37%;
              margin-top: -38%;
            }
            .box3 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              margin-left: -1%;
              margin-top: 55%;
            }
            .box4 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(90deg);
              margin-left: -28%;
              margin-top: 27%;
            }
            .box5 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(90deg);
              margin-left: 26%;
              margin-top: 27%;
            }
            .box6 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(135deg);
              margin-left: -9%;
              margin-top: -19%;
            }
            .box7 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(135deg);
              margin-left: 45.5%;
              margin-top: -18.5%;
            }
            .box8 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(90deg);
              margin-left: 64%;
              margin-top: -10%;
            }
            .box9 {
              height: 5%;
              width: 75%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(135deg);
              margin-left: -10.5%;
              margin-top: 27%;
            }
            .box10 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(135deg);
              margin-left: 45%;
              margin-top: 36%;
            }
            .box11 {
              height: 5%;
              width: 94%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(157.5deg);
              margin-left:-0.5%;
              margin-top: -19%;
            }
            .box12 {
              height: 5%;
              width: 75%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(224deg);
              margin-left: -10.5%;
              margin-top: 26.5%;
            }
            .box13 {
              height: 5%;
              width: 39.5%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(66deg);
              margin-left: 26%;
              margin-top: -19%;
            }
            .box14 {
              height: 5%;
              width: 39%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(204.5deg);
              margin-left: 53%;
              margin-top: 8.5%;
            }
            .box15 {
              height: 5%;
              width: 94%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(112deg);
              margin-left: 25.5%;
              margin-top: 9.5%;
            }

/* White Box */
            .box1White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;
            }
            .box2White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              margin-left: 37%;
              margin-top: -38%;
            }
            .box3White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              margin-left: -1%;
              margin-top: 55%;
            }
            .box4White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(90deg);
              margin-left: -28%;
              margin-top: 27%;
            }
            .box5White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(90deg);
              margin-left: 26%;
              margin-top: 27%;
            }
            .box6White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(135deg);
              margin-left: -9%;
              margin-top: -19%;
            }
            .box7White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(135deg);
              margin-left: 45.5%;
              margin-top: -18.5%;
            }
            .box8White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(90deg);
              margin-left: 64%;
              margin-top: -10%;
            }
            .box9White {
              height: 5%;
              width: 75%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(135deg);
              margin-left: -10.5%;
              margin-top: 27%;
            }
            .box10White {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(135deg);
              margin-left: 45%;
              margin-top: 36%;
            }
            .box11White {
              height: 5%;
              width: 94%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(157.5deg);
              margin-left:-0.5%;
              margin-top: -19%;
            }
            .box12White {
              height: 5%;
              width: 75%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(224deg);
              margin-left: -10.5%;
              margin-top: 26.5%;
            }
            .box13White {
              height: 5%;
              width: 39.5%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(66deg);
              margin-left: 26%;
              margin-top: -19%;
            }
            .box14White {
              height: 5%;
              width: 39%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(204.5deg);
              margin-left: 53%;
              margin-top: 8.5%;
            }
            .box15White {
              height: 5%;
              width: 94%;
              border-radius: 40%;
              background-color: #FFFFFF;
              position: absolute;

              transform: rotate(112deg);
              margin-left: 25.5%;
              margin-top: 9.5%;
            }

/* animated box */
            .letterboxanimation {
              position: relative;
              width: 20%;
              height: 20%;
              margin-left: 50%;
              margin-top: 30%;
            }

              #A1 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;
                  animation: spin 3s ease-out ;
                }

              #A2 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  margin-left: 37%;
                  margin-top: -38%;
                  animation: spin 5s ease-out ;
                  }

              #A3 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  margin-left: 10%%;
                  margin-top: 54%;
                  animation: spin 4s ease-out ;
                  }

              #A4 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: -28%;
                  margin-top: 27%;
                  animation: spin 3s ease-out ;
                  }

              #A5 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: 27%;
                  margin-top: 27%;
                  animation: spin 4s ease-out ;
                  }

              #A6 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: -9%;
                  margin-top: -19%;
                  animation: spin 2s ease-out ;
                  }

              #A7 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: 45%;
                  margin-top: -18.5%;
                  animation: spin 4s ease-out ;
                  }

              #A8 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: 64%;
                  margin-top: -10%;
                  animation: spin 4s ease-out ;
                  }

              #A9 {
                  height: 5%;
                  width: 75%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: -10.5%;
                  margin-top: 27%;
                  animation: spin 5s ease-out;
                  }

              #A10 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: 45%;
                  margin-top: 36%;
                  animation: spin 4s ease-out ;
                  }

              #A11 {
                  height: 5%;
                  width: 94%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(157.5deg);
                  margin-left: -0.5%;
                  margin-top: -19%;
                  animation: spin 5s ease-out ;
                  }

              #A12 {
                  height: 5%;
                  width: 75%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(224deg);
                  margin-left: -10.5%;
                  margin-top: 26.5%;
                  animation: spin 4s ease-out ;
                  }

              #A13 {
                  height: 5%;
                  width: 39.5%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(66deg);
                  margin-left: 26%;
                  margin-top: -19%;
                  animation: spin 3s ease-out ;
                  }

              #A14 {
                  height: 5%;
                  width: 39%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(204.5deg);
                  margin-left: 53%;
                  margin-top: 8.5%;
                  animation: spin 5s ease-out ;
                  }

              #A15 {
                  height: 5%;
                  width: 94%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(112deg);
                  margin-left: 25.5%;
                  margin-top: 9.5%;
                  animation: spin 6s ease-out ;
                  }
        /* White */
              .A1White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;
                  /* animation: spin 3s ease-out ; */
                }

              .A2White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  margin-left: 37%;
                  margin-top: -38%;
                  /* animation: spin 5s ease-out ; */
                  }

              .A3White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  margin-left: 10%%;
                  margin-top: 54%;
                  /* animation: spin 4s ease-out ; */
                  }

              .A4White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: -28%;
                  margin-top: 27%;
                  /* animation: spin 3s ease-out ; */
                  }

              .A5White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: 27%;
                  margin-top: 27%;
                  /* animation: spin 4s ease-out ; */
                  }

              .A6White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: -9%;
                  margin-top: -19%;
                  /* animation: spin 2s ease-out ; */
                  }

              .A7White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: 45%;
                  margin-top: -18.5%;
                  /* animation: spin 4s ease-out ; */
                  }

              .A8White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: 64%;
                  margin-top: -10%;
                  /* animation: spin 4s ease-out ; */
                  }

              .A9White {
                  height: 5%;
                  width: 75%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: -10.5%;
                  margin-top: 27%;
                  /* animation: spin 5s ease-out; */
                  }

              .A10White {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: 45%;
                  margin-top: 36%;
                  /* animation: spin 4s ease-out ; */
                  }

              .A11White {
                  height: 5%;
                  width: 94%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(157.5deg);
                  margin-left: -0.5%;
                  margin-top: -19%;
                  /* animation: spin 5s ease-out ; */
                  }

              .A12White {
                  height: 5%;
                  width: 75%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(224deg);
                  margin-left: -10.5%;
                  margin-top: 26.5%;
                  /* animation: spin 4s ease-out ; */
                  }

              .A13White {
                  height: 5%;
                  width: 39.5%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(66deg);
                  margin-left: 26%;
                  margin-top: -19%;
                  /* animation: spin 3s ease-out ; */
                  }

              .A14White {
                  height: 5%;
                  width: 39%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(204.5deg);
                  margin-left: 53%;
                  margin-top: 8.5%;
                  /* animation: spin 5s ease-out ; */
                  }

              .A15White {
                  height: 5%;
                  width: 94%;
                  border-radius: 40%;
                  background-color: #FFFFFF;
                  position: absolute;

                  transform: rotate(112deg);
                  margin-left: 25.5%;
                  margin-top: 9.5%;
                  /* animation: spin 6s ease-out ; */
                  }

/* D */
              #d1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 10%%;
                margin-top: 54%;
              }

              #d3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: -28%;
                margin-top: 27%;
              }

              #d4 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: -9%;
                margin-top: -19%;
              }

              #d5 {
                height: 5%;
                width: 77%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(225deg);
                margin-left: 26.5%;
                margin-top: -11%;
              }

              #d6 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 46%;
                margin-top: 35%;
              }

/* T */
              #box2J {
                height: 5%;
                width: 68%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 28%;
                margin-top: -38%;
              }

              #box15 {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(112deg);
                margin-left: -10%;
                margin-top: 9.5%;
              }

              #box2JWhite {
                height: 5%;
                width: 68%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                margin-left: 28%;
                margin-top: -38%;
              }

              #box15White {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(112deg);
                margin-left: -10%;
                margin-top: 9.5%;
              }

/* I */
              #box2I {
                height: 5%;
                width: 20%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 55%;
                margin-top: -38%;
              }

              #box3I {
                height: 5%;
                width: 20%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 19%;
                margin-top: 54%;
              }

              #box4 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 0%;
                margin-top: 27%;
              }

              #box6 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20%;
                margin-top: -19%;

              }

              #box4White {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 0%;
                margin-top: 27%;
              }

              #box6White {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20%;
                margin-top: -19%;

              }

/* J */
              #box2{
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 12%;
                margin-top: -38%;
              }

              #box8{
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 39%;
                margin-top: -10%;
              }

              #box10{
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20%;
                margin-top: 36%;
              }

/* . */
              .period {
                margin-top: 70%;
                margin-left: 25%;
                width: 20%;
                height: 50%;
                position: relative;
              }

/* ? */
              #questionmark {
                top: 0;
                margin-bottom: 40%;
                margin-left: -20%;
                width: 80%;
                height: 100%;
                position: relative;
              }

              #questionperiod {
                position: absolute;
                margin-top: 15%;
                margin-left: 18%;
                width: 100%;
                height: 100%;
              }

/* ! */
              #boxexpo {
                height: 5%;
                width: 90%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 6%;
              }
/* , */

/* " */
              #semi1 {
                width: 20%;
                height: 50%;
                position: relative;
              }

              .box1-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                margin-left: 95%;
              }

              .box2-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 127%;
                margin-top: -38%;
              }

              .box5-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 116%;
                margin-top: 27%;
              }

              .box6-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 81%;
                margin-top: -19%;
              }

              .box7-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 135.5%;
                margin-top: -18.5%;
              }

              .box11-1 {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(157.5deg);
                margin-left: 89.5%;
                margin-top: -19%;
              }

              .box13-1 {
                height: 5%;
                width: 39.5%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(66deg);
                margin-left: 116%;
                margin-top: -19%;
              }

              .box15-1 {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(112deg);
                margin-left: 115.5%;
                margin-top: 9.5%;
              }


              .box1-1White  {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                margin-left: 95%;
              }

              .box2-1White  {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                margin-left: 127%;
                margin-top: -38%;
              }

              .box5-1White  {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 116%;
                margin-top: 27%;
              }

              .box6-1White  {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 81%;
                margin-top: -19%;
              }

              .box7-1White  {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 135.5%;
                margin-top: -18.5%;
              }

              .box11-1White  {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(157.5deg);
                margin-left: 89.5%;
                margin-top: -19%;
              }

              .box12-1White {
                height: 5%;
                width: 75%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;
                transform: rotate(224deg);
                margin-left: 79%;
                margin-top: 26.5%;
              }

              .box13-1White  {
                height: 5%;
                width: 39.5%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(66deg);
                margin-left: 116%;
                margin-top: -19%;
              }

              .box15-1White  {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #FFFFFF;
                position: absolute;

                transform: rotate(112deg);
                margin-left: 115.5%;
                margin-top: 9.5%;
              }
/* " */
              .box12-1 {
                height: 5%;
                width: 75%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(224deg);
                margin-left: 80.5%;
                margin-top: 26.5%;
              }
/* * */

/* 3 */
              #box2-3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 12%;
                margin-top: -38%;
              }

              #box7-3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20.5%;
                margin-top: -18.5%;
              }

              #box10-3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20%;
                margin-top: 36%;
              }

              #box14-3 {
                height: 5%;
                width: 39%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(204.5deg);
                margin-left: 28%;
                margin-top: 8.5%;
              }


  /* response */
                            @media only screen and (max-width: 900px) {

                            }

                            @media only screen and (max-width: 400px) {
                              .section #loosebox1 {
                                height: 0.5%;
                                width: 15%;
                                margin-top: 180%;
                              }

                              .section #loosebox2 {
                                height: 0.5%;
                                width: 15%;
                                margin-top: 150%;
                              }

                              .section #loosebox3 {
                                height: 0.5%;
                                width: 15%;
                                margin-top: 160%;
                              }

                              .section #loosebox4 {
                                height: 0.5%;
                                width: 15%;
                                margin-top: 135%;
                              }

                              .section #loosebox5 {
                                height: 0.5%;
                                width: 15%;
                                margin-top: 120%;
                                margin-left: 15%;
                              }

                              .section #loosebox6 {
                                height: 0.5%;
                                width: 15%;
                                margin-top: 180%;
                                margin-left: 0%;
                              }

                              .section #loosebox7 {
                                height: 0.5%;
                                width: 15%;
                                margin-top: 40%;
                              }

                              .section #title p {
                                font-size: x-large;
                                position: relative;
                                width: auto;
                                height: auto;
                                margin-top: 20%;
                              }

                              .section h5 {
                                position: absolute;
                                letter-spacing: 2px;
                                margin-top: 40%;
                              }

                              .section h4 {
                                position: absolute;
                                margin-top: -10%;
                                margin-left: 75%;
                                letter-spacing: 2px;
                              }

                              .section h3 {
                                Position: absolute;
                                margin-left: 100%;
                                margin-top: 8%;
                                font-size: xx-small;
                                width: 5%;
                                opacity: 50%;
                              }

                              .section img {
                                position: absolute;
                                margin: 20% 0 0 98%;
                                width: 10%;
                              }

                              .section .letterboxanimation {
                                  position: absolute;
                                  width: 40%;
                                  height: 40%;
                                  margin-left: 30%;
                                  margin-top: 70%;
                                }

                              .letterboxanimation #A1 {height: 2%;}
                              .letterboxanimation #A2 {height: 2%;}
                              .letterboxanimation #A3 {height: 2%;}
                              .letterboxanimation #A4 {height: 2%;}
                              .letterboxanimation #A5 {height: 2%;}
                              .letterboxanimation #A6 {height: 2%;}
                              .letterboxanimation #A7 {height: 2%;}
                              .letterboxanimation #A8 {height: 2%;}
                              .letterboxanimation #A9 {height: 2%;}
                              .letterboxanimation #A10 {height: 2%;}
                              .letterboxanimation #A11 {height: 2%;}
                              .letterboxanimation #A12 {height: 2%;}
                              .letterboxanimation #A13 {height: 2%;}
                              .letterboxanimation #A14 {height: 2%;}
                              .letterboxanimation #A15 {height: 2%;}

                              .letterboxtype .box1 {height: 2%;}
                              .letterboxtype .box2 {height: 2%;}
                              .letterboxtype .box3 {height: 2%;}
                              .letterboxtype .box4 {height: 2%;}
                              .letterboxtype .box5 {height: 2%;}
                              .letterboxtype .box6 {height: 2%;}
                              .letterboxtype .box7 {height: 2%;}
                              .letterboxtype .box8 {height: 2%;}
                              .letterboxtype .box9 {height: 2%;}
                              .letterboxtype .box10 {height: 2%;}
                              .letterboxtype .box11 {height: 2%;}
                              .letterboxtype .box12 {height: 2%;}
                              .letterboxtype .box13 {height: 2%;}
                              .letterboxtype .box14 {height: 2%;}
                              .letterboxtype .box15 {height: 2%;}

                              .letterbox .box1 {height: 2%;}
                              .letterbox .box2 {height: 2%;}
                              .letterbox .box3 {height: 2%;}
                              .letterbox .box4 {height: 2%;}
                              .letterbox .box5 {height: 2%;}
                              .letterbox .box6 {height: 2%;}
                              .letterbox .box7 {height: 2%;}
                              .letterbox .box8 {height: 2%;}
                              .letterbox .box9 {height: 2%;}
                              .letterbox .box10 {height: 2%;}
                              .letterbox .box11 {height: 2%;}
                              .letterbox .box12 {height: 2%;}
                              .letterbox .box13 {height: 2%;}
                              .letterbox .box14 {height: 2%;}
                              .letterbox .box15 {height: 2%;}

                              .letterboxtype #box2J {height: 2%;}
                              .letterboxtype #box15 {height: 2%;}
                              .letterboxtype #box2I {height: 2%;}
                              .letterboxtype #box3I {height: 2%;}
                              .letterboxtype #box4 {height: 2%;}
                              .letterboxtype #box6 {height: 2%;}


                              .letterbox #box2 {height: 4%;}
                              .letterbox #box6 {height: 2%;}
                              .letterbox #box4 {height: 2%;}

                              .letterbox #d1 {
                                height: 2%;}
                              .letterbox #d3 {
                                height: 2%;}
                              .letterbox #d4 {
                                height: 2%;}
                              .letterbox #d5 {
                                height: 2%;}
                              .letterbox #d6 {
                                height: 2%;}
                              .letterbox #box8 {
                                height: 2%;}
                              .letterbox #box10 {
                                height: 2%;}
                              .specimensection .letterbox #box2J {
                                height: 2%;}
                              .specimensection .letterbox #box15 {
                                height: 2%;}
                              .specimensection .letterbox #box2I {height: 2%;}
                              .specimensection .letterbox #box3I {
                                height: 2%;}
                              .specimensection .letterbox #boxexpo {
                                height: 2%;}
                              .specimensection .letterbox #box2-3 {
                                height: 2%;
                              }
                              .specimensection .letterbox #box7-3 {
                                height: 2%;
                              }
                              .specimensection .letterbox #box10-3 {
                                height: 2%;
                              }
                              .specimensection .letterbox #box14-3 {
                                height: 2%;
                              }

                              .animation h1 {
                                    Position: absolute;
                                    letter-spacing: 3px;
                                    font-size: large;
                                    margin-left: 35%;
                                    margin-top: -20%;
                              }

                              .animation .color .letterboxtype {
                                width: 10%;
                                height: 15%;
                                margin: 0% 0% 15% -1%;
                              }

                              .bigtitle h6 {
                                Position: absolute;
                                letter-spacing: 3px;
                                width: 75%;
                                font-size: large;
                                margin-left: 10%;
                                margin-top: -25%;
                              }

                              .bigtitle .letterboxtype{
                                margin: 5% 0% 1% 0%;
                              }
                              .fullEdgeSection .bone {
                                width:100%;
                                height: 90vw;
                                position: relative;
                                display: flex;
                                overflow: hidden;
                              }

                              .fullEdgeSection .bone2 {
                                width:100%;
                                height: 90vw;
                                position: relative;
                                display: flex;
                                margin-top: -85.5%;
                                overflow: hidden;
                              }

                              .bigtitle .color {
                                margin-left: 10%;
                              }

                              .color .letterbox {
                                display: none;
                              }

                              body .animation {
                                height: 100vw;

                              }

                              body .section {
                                height: 140vw;
                              }

                              body .bigtitle {
                                height: 100vw;
                              }

                              body .fullEdgeSection {
                                margin: 0;
                                width: 100%;
                                height: 30vh;
                                position: relative;
                                background-color: #000000;
                                }

                              .specimensection .letterbox {
                                width: 15%;
                                height: 12%;
                                padding-top: 15%;
                              }

                              .specimensection .questionmark {
                                height: 90%;
                                width: 70%;
                              }

                              body .specimensection {
                                height: 70vh
                              }

                              #endsection {
                                  padding-top: 230%;
                                  font-size: large;
                                  letter-spacing: 3px;
                                }
                            }
