.page {
  position:  relative;
}


.Full {
  margin-top: 30%;
  margin-left: 40%;
  position: absolute;
}


 @keyframes spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}

p {

}


#A1 {
   height: 7px;
   width: 100px;
   position: relative;
   background-color: #000000;
   border-radius: 40%;
   transform: rotate(135deg);
   animation: spin 3s linear infinite;
  }


#A2 {
  height: 7px;
  width: 100px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(90deg);

  /* margin-left: 68%; */
  /* margin-top: 85%; */
  animation: spin 4s linear infinite;
}

#A3 {
   height: 7px;
   width: 100px;
   background-color: #000000;
   border-radius: 40%;
   transform: rotate(135deg);

   margin-left: 105%;
   margin-top: -96%;
   animation: spin 5s linear infinite;
  }

#A4 {
  height: 7px;
  width: 100px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(90deg);

  /* margin-left: -35%; */
  /* margin-top: 80%; */
  animation: spin 6s linear infinite;
}

#A5 {
  height: 7px;
  width: 100px;
  background-color: #000000;
  border-radius: 40%;

  margin-left: 15%;
  margin-top: 48%;
  animation: spin 7s linear infinite;
}

#A6 {
  height: 7px;
  width: 100px;
  background-color: #000000;
  border-radius: 40%;

  margin-left: 90%;
  margin-top: -190%;
  animation: spin 8s linear infinite;
}

#A7 {
  height: 7px;
  width: 100px;
  background-color: #000000;
  border-radius: 40%;

  margin-left: 16%;
  margin-top: 69%;
  animation: spin 9s linear infinite;
}

#A8 {
  height: 7px;
  width: 100px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(90deg);

  margin-left: 145%;
  margin-top: -25%;
  animation: spin 10s linear infinite;
}

#A9 {
  height: 7px;
  width: 100px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(135deg);

  margin-left: 108%;
  margin-top: 82%;
  animation: spin 6s linear infinite;
}

#A1-1 {
  height: 7px;
  width: 130px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(135deg);

  position: absolute;
  margin-top: -25%;
  margin-left: 2%;
  animation: spin 5s linear infinite;
}

#A1-2 {
  height: 7px;
  width: 170px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(157.5deg);

  position: absolute;
  margin-top: -116%;
  margin-left: 18%;
  animation: spin 4s linear infinite;
}

#A1-3 {
  height: 7px;
  width: 130px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(45deg);

  position: absolute;
  margin-top: -25%;
  margin-left: 2%;
  animation: spin 7s linear infinite;
}

#A1-4 {
  height: 7px;
  width: 73px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(67deg);

  position: absolute;
  margin-top: -116%;
  margin-left: 67%;
  animation: spin 8s linear infinite;
}

#A1-5 {
  height: 7px;
  width: 72px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(23deg);

  position: absolute;
  margin-top: -60%;
  margin-left: 121%;
  animation: spin 9s linear infinite;
}

#A1-6 {
  height: 7px;
  width: 170px;
  background-color: #000000;
  border-radius: 40%;
  transform: rotate(112.5deg);

  position: absolute;
  margin-top: -60%;
  margin-left: 72%;
  animation: spin 7s linear infinite;
}
