

/* response */
              @media only screen and (max-width: 900px) {

              }

              @media only screen and (max-width: 400px) {
                #loosebox1,
                #loosebox2,
                #loosebox3,
                #loosebox4,
                #loosebox5,
                #loosebox6,
                #loosebox7 {
                  display: none;
                }

                .section #title p {
                  font-size: x-large;
                  position: relative;
                  width: auto;
                  height: auto;
                  margin-top: 20%;
                }

                .section h5 {
                  position: absolute;
                  letter-spacing: 2px;
                  margin-top: 40%;
                }

                .section h4 {
                  position: absolute;
                  margin-top: -10%;
                  margin-left: 75%;
                  letter-spacing: 2px;
                }

                .section h3 {
                  Position: absolute;
                  margin-left: 100%;
                  margin-top: 2.5%;
                  font-size: xx-small;
                  width: 5%;
                  opacity: 50%;
                }

                .section img {
                  display: none;
                }

                .section .letterboxanimation {
                    position: absolute;
                    width: 40%;
                    height: 40%;
                    margin-left: 30%;
                    margin-top: 70%;
                  }

                .letterboxanimation #A1 {height: 2%;}
                .letterboxanimation #A2 {height: 2%;}
                .letterboxanimation #A3 {height: 2%;}
                .letterboxanimation #A4 {height: 2%;}
                .letterboxanimation #A5 {height: 2%;}
                .letterboxanimation #A6 {height: 2%;}
                .letterboxanimation #A7 {height: 2%;}
                .letterboxanimation #A8 {height: 2%;}
                .letterboxanimation #A9 {height: 2%;}
                .letterboxanimation #A10 {height: 2%;}
                .letterboxanimation #A11 {height: 2%;}
                .letterboxanimation #A12 {height: 2%;}
                .letterboxanimation #A13 {height: 2%;}
                .letterboxanimation #A14 {height: 2%;}
                .letterboxanimation #A15 {height: 2%;}

                .letterboxtype .box1 {height: 3%;}
                .letterboxtype .box2 {height: 2%;}
                .letterboxtype .box3 {height: 2%;}
                .letterboxtype .box4 {height: 2%;}
                .letterboxtype .box5 {height: 2%;}
                .letterboxtype .box6 {height: 2%;}
                .letterboxtype .box7 {height: 2%;}
                .letterboxtype .box8 {height: 2%;}
                .letterboxtype .box9 {height: 2%;}
                .letterboxtype .box10 {height: 2%;}
                .letterboxtype .box11 {height: 2%;}
                .letterboxtype .box12 {height: 2%;}
                .letterboxtype .box13 {height: 2%;}
                .letterboxtype .box14 {height: 2%;}
                .letterboxtype .box15 {height: 2%;}

                 body .section {
                     margin: 10%;
                     height: 60vh;
                     position: relative;
                   }
                .animation h1 {
                      Position: absolute;
                      letter-spacing: 5px;
                      font-size: x-large;
                      margin-left: 10%;
                      margin-top: -67%;
                }

              }


/* animation */
                 @keyframes spin {
                   0% {
                    /*transform: scale(1);*/
                    transform-origin: center center;
                    transform: rotate(-360deg) scale(0.8);
                  }
                  50% {
                    /*transform: scale(1.1);*/
                    transform-origin: right left;
                    transform: rotate(-180deg) scale(2);
                  }
                  100% {
                    /*transform: scale(1);*/
                    transform-origin: center center;
                    transform: rotate(0) scale(0.8);
                  }
                }

                @keyframes pulse {
                0% {
                  background-color: #EE82EE;
                }
                50% {
                  background-color: #00FFFF;
                }
                100% {
                  background-color: #EE82EE;
                }
              }

                @keyframes pulsebg {
                0% {
                  background-color: #00FFFF;
                }
                50% {
                  background-color: #EE82EE;
                }
                100% {
                  background-color: #00FFFF;
                }
              }

              @keyframes bounce {
                 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
                 40% {transform: translateY(-15px);}
                 60% {transform: translateY(-80px);}
              }

              body {
                font-family: 'PT Serif', serif;
              }
/* Dot Nav */
              .dot-navigation {
                position: absolute;
                top: 80%; left: 87%;
                transform: translate(-50%, -50%);
                }

              .dot-navigation--item {
                position: relative;
                display: block;
                width: 8px; height: 8px;
                margin-bottom: 28px;
                border: 2px solid black;
                border-radius: 50%;
                &:before, &:after { content: ""; }
                &:before {
                position: absolute;
                top: -1px; bottom: -1px; left: -1px; right: -1px;
                transform: scale(0);
                opacity: 0;
                border-radius: 50%;
                background-color: #000000;
                transition: all .3s;
                }

              &:after {
                display: block;
                width: 3px; height: 30px;
                margin: 13px auto 0;
              }

              &:last-child:after { display:none; }
                &:hover { cursor: pointer; }
                &.is-active:before {
                opacity: 1;
                transform: scale(1);
                }
              }
              .dot-navigation--link {
                position: absolute;
                top: 50%;
                visibility: hidden;
                transform: translate(-120%, -50%);
                width: 200px;
                padding: 5px 10px;
                opacity: 0;

                &:before {
                content: "";
                position: absolute;
                top: 50%; left: 100%;
                width: 0; height: 0;
                border-width: 6px 0 6px 8px;
                border-color: transparent transparent transparent black;
                border-style: solid;
                transform: translateY(-50%);
              }

              .dot-navigation--item:hover & {
                visibility: visible;
                opacity: 1;
                transform: translate(-110%, -50%);
                }
              }

/* Title Page */
            .section {
              margin: 10%;
              height: 70vh;
              position: relative;
            }

            #title {
              font-size: xxx-large;
              position: absolute;
              margin-left: 6.6%;
              margin-top: -5%;
            }

            img {
              width: 5%;
              position: absolute;
              margin-left: 100%;
              margin-top: -26%;
              opacity: 50%;
            }
/* A TYPEFACE DESIGN FROM TOOTHPICK & CUBE */
            h1 {
              Position: absolute;
              letter-spacing: 5px;
              font-size: x-large;
              margin-left: 10%;
              margin-top: -15%;
            }
/* CHIAO CIAO TYPE */
            h3 {
              Position: absolute;
              margin-left: 96.5%;
              margin-top: -25%;
              font-size: small;
              width: 5%;
              opacity: 50%;
            }
/* Chiao Huang */
            h4 {
              Position: absolute;
              letter-spacing: 5px;
              font-size: small;
              margin-left: 65%;
              margin-top: -10%;
            }
/* Type Design By */
            h5 {
              Position: absolute;
              letter-spacing: 5px;
              font-size: small;
              margin-left: 2%;
            }

            #loosebox1 {
              height: 1%;
              width: 10%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(99deg);
              position: absolute;
              margin-left: 55%;
              margin-top: 17%;
            }

            #loosebox2 {
              height: .5%;
              width: 6%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(36deg);
              position: absolute;
              margin-left: 40%;
              margin-top: 15%;
            }

            #loosebox3 {
              height: .5%;
              width: 6%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(129deg);
              position: absolute;
              margin-left: 80%;
              margin-top: 5%;
            }

            #loosebox4 {
              height: .5%;
              width: 6%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(47deg);
              position: absolute;
              margin-left: 90%;
              margin-top: -2%;
            }

            #loosebox5 {
              height: 1%;
              width: 10%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(66deg);
              position: absolute;
              margin-left: 18%;
              margin-top: 12%;
            }

            #loosebox6 {
              height: .5%;
              width: 6%;
              border-radius: 40%;
              background-color: #000000;
              transform: rotate(135deg);
              position: absolute;
              margin-left: 8%;
              margin-top: -30%;
            }

            #loosebox7 {
              height: 1%;
              width: 10%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;
              margin-left: -2%;
              margin-top: -20%;
            }

/* big title */
            .bigtitle {
                margin: 0 3% 0 3%;
                height: 70vh;
                position: relative;
              }

/* Specimen */
            .specimensection {
              margin: 10%;
              height: 70vh;
              position: relative;
            }


/* pinky pointy blinky */
            .animation {
              margin: 0 0 0 12%;
              height: 70vh;
              position: relative;
            }

            .letterbox{
              float: left;
              position: relative;
              width: 8%;
              height: 10%;
              margin: 0% 0% 10% 5%;
            }

            .letterboxtype {
              float: left;
              position: relative;
              width: 6%;
              height: 10%;
              margin: 0% 0% 1% -1%;
            }

/* letterspace */
            .letterspace2 {
              float: left;
              position: relative;
              width: 1%;
              height: 10%;
            }

            .letterspace5 {
              float: left;
              position: relative;
              width: 2%;
              height: 10%;
            }

            .letterspace6 {
              float: left;
              position: relative;
              width: 25%;
              height: 10%;
            }

            .letterspace10 {
              float: left;
              position: relative;
              width: 100%;
              height: 10%;
            }

/* color animation */
            .color {
              width: 100%;
              height: 100%;
            }

            .color .letterboxtype {
              animation: pulsebg 2s ease infinite;
            }

            .letterboxanimation2 {
              position: relative;
              float: left;
              width: 5%;
              height: 5%;
              margin: 0 10% 0 4.5%;
            }

/* animation box line */
            #boxline {
              margin-left: 17%;
              margin-right: 20%;
              width: 90%;
              height: 45vh;
              position: relative;
            }

/* box */
            .box1 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;
            }
            .box2 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              margin-left: 37%;
              margin-top: -38%;
            }
            .box3 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              margin-left: -1%;
              margin-top: 55%;
            }
            .box4 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(90deg);
              margin-left: -28%;
              margin-top: 27%;
            }
            .box5 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(90deg);
              margin-left: 26%;
              margin-top: 27%;
            }
            .box6 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(135deg);
              margin-left: -9%;
              margin-top: -19%;
            }
            .box7 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(135deg);
              margin-left: 45.5%;
              margin-top: -18.5%;
            }
            .box8 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(90deg);
              margin-left: 64%;
              margin-top: -10%;
            }
            .box9 {
              height: 5%;
              width: 75%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(135deg);
              margin-left: -10.5%;
              margin-top: 27%;
            }
            .box10 {
              height: 5%;
              width: 55%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(135deg);
              margin-left: 45%;
              margin-top: 36%;
            }
            .box11 {
              height: 5%;
              width: 94%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(157.5deg);
              margin-left:-0.5%;
              margin-top: -19%;
            }
            .box12 {
              height: 5%;
              width: 75%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(224deg);
              margin-left: -10.5%;
              margin-top: 26.5%;
            }
            .box13 {
              height: 5%;
              width: 39.5%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(66deg);
              margin-left: 26%;
              margin-top: -19%;
            }
            .box14 {
              height: 5%;
              width: 39%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(204.5deg);
              margin-left: 53%;
              margin-top: 8.5%;
            }
            .box15 {
              height: 5%;
              width: 94%;
              border-radius: 40%;
              background-color: #000000;
              position: absolute;

              transform: rotate(112deg);
              margin-left: 25.5%;
              margin-top: 9.5%;
            }

/* animated box */
            .letterboxanimation {
              position: relative;
              width: 20%;
              height: 20%;
              margin-left: 50%;
              margin-top: 30%;
            }

              #A1 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;
                  animation: spin 3s ease-out ;
                }

              #A2 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  margin-left: 37%;
                  margin-top: -38%;
                  animation: spin 5s ease-out ;
                  }

              #A3 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  margin-left: 10%%;
                  margin-top: 54%;
                  animation: spin 4s ease-out ;
                  }

              #A4 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: -28%;
                  margin-top: 27%;
                  animation: spin 3s ease-out ;
                  }

              #A5 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: 27%;
                  margin-top: 27%;
                  animation: spin 4s ease-out ;
                  }

              #A6 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: -9%;
                  margin-top: -19%;
                  animation: spin 2s ease-out ;
                  }

              #A7 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: 45%;
                  margin-top: -18.5%;
                  animation: spin 4s ease-out ;
                  }

              #A8 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(90deg);
                  margin-left: 64%;
                  margin-top: -10%;
                  animation: spin 4s ease-out ;
                  }

              #A9 {
                  height: 5%;
                  width: 75%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: -10.5%;
                  margin-top: 27%;
                  animation: spin 5s ease-out;
                  }

              #A10 {
                  height: 5%;
                  width: 55%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(135deg);
                  margin-left: 45%;
                  margin-top: 36%;
                  animation: spin 4s ease-out ;
                  }

              #A11 {
                  height: 5%;
                  width: 94%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(157.5deg);
                  margin-left: -0.5%;
                  margin-top: -19%;
                  animation: spin 5s ease-out ;
                  }

              #A12 {
                  height: 5%;
                  width: 75%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(224deg);
                  margin-left: -10.5%;
                  margin-top: 26.5%;
                  animation: spin 4s ease-out ;
                  }

              #A13 {
                  height: 5%;
                  width: 39.5%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(66deg);
                  margin-left: 26%;
                  margin-top: -19%;
                  animation: spin 3s ease-out ;
                  }

              #A14 {
                  height: 5%;
                  width: 39%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(204.5deg);
                  margin-left: 53%;
                  margin-top: 8.5%;
                  animation: spin 5s ease-out ;
                  }

              #A15 {
                  height: 5%;
                  width: 94%;
                  border-radius: 40%;
                  background-color: #000000;
                  position: absolute;

                  transform: rotate(112deg);
                  margin-left: 25.5%;
                  margin-top: 9.5%;
                  animation: spin 6s ease-out ;
                  }

/* D */
              #d1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 10%%;
                margin-top: 54%;
              }

              #d3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: -28%;
                margin-top: 27%;
              }

              #d4 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: -9%;
                margin-top: -19%;
              }

              #d5 {
                height: 5%;
                width: 77%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(225deg);
                margin-left: 26.5%;
                margin-top: -11%;
              }

              #d6 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 46%;
                margin-top: 35%;
              }

/* T */
              #box2J {
                height: 5%;
                width: 68%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 28%;
                margin-top: -38%;
              }

              #box15 {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(112deg);
                margin-left: -10%;
                margin-top: 9.5%;
              }

/* I */
              #box2I {
                height: 5%;
                width: 20%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 55%;
                margin-top: -38%;
              }

              #box3I {
                height: 5%;
                width: 20%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 19%;
                margin-top: 54%;
              }

              #box4 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 0%;
                margin-top: 27%;
              }

              #box6 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20%;
                margin-top: -19%;

              }

/* J */
              #box2{
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 12%;
                margin-top: -38%;
              }

              #box8{
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 39%;
                margin-top: -10%;
              }

              #box10{
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20%;
                margin-top: 36%;
              }

/* . */
              .period {
                margin-top: 70%;
                margin-left: 25%;
                width: 20%;
                height: 50%;
                position: relative;
              }

/* ? */
              #questionmark {
                top: 0;
                margin-bottom: 40%;
                margin-left: -20%;
                width: 80%;
                height: 100%;
                position: relative;
              }

              #questionperiod {
                position: absolute;
                margin-top: 15%;
                margin-left: 18%;
                width: 100%;
                height: 100%;
              }

/* ! */
              #boxexpo {
                height: 5%;
                width: 90%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 6%;
              }
/* , */

/* " */
              #semi1 {
                width: 20%;
                height: 50%;
                position: relative;
              }

              .box1-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 95%;
              }

              .box2-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 127%;
                margin-top: -38%;
              }

              .box5-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(90deg);
                margin-left: 116%;
                margin-top: 27%;
              }

              .box6-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 81%;
                margin-top: -19%;
              }

              .box7-1 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 135.5%;
                margin-top: -18.5%;
              }

              .box11-1 {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(157.5deg);
                margin-left: 89.5%;
                margin-top: -19%;
              }

              .box13-1 {
                height: 5%;
                width: 39.5%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(66deg);
                margin-left: 116%;
                margin-top: -19%;
              }

              .box15-1 {
                height: 5%;
                width: 94%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(112deg);
                margin-left: 115.5%;
                margin-top: 9.5%;
              }
/* " */
              .box12-1 {
                height: 5%;
                width: 75%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(224deg);
                margin-left: 80.5%;
                margin-top: 26.5%;
              }
/* * */

/* 3 */
              #box2-3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                margin-left: 12%;
                margin-top: -38%;
              }

              #box7-3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20.5%;
                margin-top: -18.5%;
              }

              #box10-3 {
                height: 5%;
                width: 55%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(135deg);
                margin-left: 20%;
                margin-top: 36%;
              }

              #box14-3 {
                height: 5%;
                width: 39%;
                border-radius: 40%;
                background-color: #000000;
                position: absolute;

                transform: rotate(204.5deg);
                margin-left: 28%;
                margin-top: 8.5%;
              }
