
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: white;
}
#desktop {
    display: inline;
    color: white;
}
img{
  width: 100%;
}

#desktop-tablet,
#tablet,
#tablet-mobil,
#mobile,
#print {
    display: none;
}

/* desktop-tablet */
@media (min-width: 720px) and (max-width: 1200px) {
    body {
        background: black;
    }
    #desktop-tablet{
        display: inline;
        color: black;
    }
    #tablet,
    #desktop,
    #tablet-mobil,
    #mobile,
    #print {
        display: none;
    }
}

/* tablet */
@media (min-width: 670px) and (max-width: 1080px) {
    body {
        background: black;
    }
    #tablet {
        display: inline;
        color: black;
    }
    #desktop-tablet,
    #desktop,
    #tablet-mobil,
    #mobile,
    #print {
        display: none;
    }
}

/* tablet-mobil */
@media (max-width: 780px) {
    body {
        background: black;
    }
    #tablet-mobil {
        display: inline;
        color: black;
    }
    #desktop,
    #desktop-tablet,
    #tablet,
    #mobile,
    #print {
        display: none;
    }
}

/* mobile */
@media (max-width: 580px) {
    body {
    }
    #mobile {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet-mobil,
    #desktop-tablet,
    #tablet,
    #print {
        display: none;
    }
}
/* print */
@media print {
    body {
        background: black;
    }
    #print {
        display: inline;
        color: black;
    }
    #desktop,
    #tablet,
    #mobile {
        display: none;
    }
}
